<li>
	{{burger_name}}

	<button class="changeDevoured" data-id="{{id}}"data-newdevour="{{devoured}}">
		{{#if devoured}}Devour It!{{else}}Reorder Da Burger!{{/if}}
	</button>

	<button class="deleteBurger" data-id="{{this.id}}">Delete Burger</button>
</li>
